/* ============================ GLOBAL STYLES ============================ */
body {
  font-family: monospace; /* Sets the default font to monospace */
}

ul {
  font-family: helvetica; /* Sets the default font for unordered lists to helvetica */
}

li {
  list-style: circle; /* Sets the list style to circles */
}

.list {
  list-style: square; /* Sets the list style to squares */
}

/* ============================ COMPONENTS ============================ */
.btn {
  position: absolute; /* Sets the button's position to absolute */
  top: 20px; /* Sets the distance from the top to 20px */
  left: 250px; /* Sets the distance from the left to 250px */
  height: 50px; /* Sets the button's height to 50px */
  width: 50px; /* Sets the button's width to 50px */
  border-radius: 50%; /* Makes the button round by setting the border radius to 50% */
  border: none; /* Removes the button's border */
  :focus {
    outline-style: none; /* Removes the outline style when the button is focused */
    outline: 2px solid var(--btnFontColor); /* Adds a visible outline */
    outline-offset: 4px; /* Adds space between the outline and the button */
    color: var(--btnFontColor); /* Sets the button's font color */
  }
  background-color: var(--btnBg); /* Sets the button's background color */
}

#msg {
  font-family: monospace; /* Sets the font for the element with id "msg" to monospace */
}

/* ============================ THEMES ============================ */
/* Variables and styles related to themes */

:root {
  --green: #00ff00; /* Defines the green color */
  --white: #ffffff; /* Defines the white color */
  --black: #000000; /* Defines the black color */
}

.light-theme {
  --bg: var(--white); /* Sets the background color to white */
  --fontcolor: var(--black); /* Sets the font color to black */
  --btnBg: var(--black); /* Sets the button background color to black */
  --btnFontColor: var(--white); /* Sets the button font color to white */
}

.dark-theme {
  --bg: var(--black); /* Sets the background color to black */
  --fontcolor: var(--green); /* Sets the font color to green */
  --btnBg: var(--white); /* Sets the button background color to white */
  --btnFontColor: var(--black); /* Sets the button font color to black */
}

* {
  color: var(--fontcolor); /* Sets the font color based on the current theme */
  font-family: helvetica; /* Sets the default font to helvetica */
}

body {
  background: var(
    --bg
  ); /* Sets the background color based on the current theme */
}
