/* ============================ GLOBAL STYLES ============================ */
body {
  font-family: monospace; /* Sets the default font for the body to monospace */
}

ul {
  font-family: helvetica; /* Sets the default font for unordered lists to helvetica */
}

li {
  list-style: circle; /* Sets the list style to circles */
}

.list {
  list-style: square; /* Sets the list style to squares */
}

/* ============================ COMPONENTS ============================ */
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(
    --btnBg
  ); /* Button background color based on the theme */
  color: var(--btnFontColor); /* Button text color based on the theme */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

.btn:hover,
.btn:focus {
  outline: 2px solid var(--btnFontColor); /* Adds a visible outline */
  outline-offset: 4px; /* Adds space between the outline and the button */
}

.btn:active {
  background-color: var(
    --btnFontColor
  ); /* Inverts colors when the button is active */
  color: var(--btnBg); /* Inverts text color when the button is active */
}

#msg {
  font-family: monospace; /* Sets the font for the element with id "msg" to monospace */
}

/* ============================ THEMES ============================ */
:root {
  --green: #00ff00; /* Defines the green color */
  --white: #ffffff; /* Defines the white color */
  --black: #000000; /* Defines the black color */
}

.light-theme {
  --bg: var(--white); /* Background color for the light theme */
  --fontcolor: var(--black); /* Font color for the light theme */
  --btnBg: var(--black); /* Button background color for the light theme */
  --btnFontColor: var(--white); /* Button font color for the light theme */
}

.dark-theme {
  --bg: var(--black); /* Background color for the dark theme */
  --fontcolor: var(--green); /* Font color for the dark theme */
  --btnBg: var(--white); /* Button background color for the dark theme */
  --btnFontColor: var(--black); /* Button font color for the dark theme */
}

/* ============================ BODY STYLES ============================ */
body {
  background-color: var(
    --bg
  ); /* Sets the background color based on the theme */
  color: var(--fontcolor); /* Sets the font color based on the theme */
}
